.align-start {
  align-self: flex-start;
}

.bottom-margin-70 {
  margin-bottom: 70px;
}

.center {
  margin: auto;
  max-width: 800px;
  text-align: center;
}

.right-margin-70 {
  margin-right: 70px;
}

.right-margin-30 {
  margin-right: 70px;
}

.wrap-content {
  display: flex;
  flex-wrap: wrap;
}
