.book-cover {
  background-color: $alto;
  height: 182px;
  margin-bottom: 10px;
  width: 128px;
}

.book-info {
  display: flex;
  flex-direction: column;
  width: 128px;
}

.filter-search {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 65px;
  margin-top: 20px;
}

.search {
  display: flex;
  width: 240px;
}

.search-img {
  align-content: center;
  background-color: $wolox-green;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 40px;  
}
