.footer {
  background-color: $blue;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
  
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 40px;
}

.footer-legend,
.footer-cr {
  color: $white;
}
  
.footer-legend {
  font-size: 24px;
  width: 100%;
  text-align: center;
  padding: 40px 0 0 0;
}

.footer-logo{
  padding: 20px;
}
  
.footer-cr {
  font-size: 12px;
  align-self: flex-end;
}
  