body {
  display: flex;
  flex-direction: column;
}

.content  {
  align-self: center;
  flex-direction: column;
  padding: 140px 40px 40px;
}

.container {
  max-width: 1040px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
