.navbar {
  position: fixed;
  display: flex;
  background-color: white;
  border-bottom: solid 3px $gray;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 90px;
  width: 100%;
  padding: 0 15px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.nav-logo {
  height: 30px;
}

.nav-text {
  font-size: 24px;
}
