.navbar {
  position: fixed;
  display: flex;
  background-color: $white;
  box-shadow: 10px -5px 20px 10px $gray;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 90px;
  width: 100%;
  padding: 0 15px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  padding: 0 40px;
}

.nav-logo {
  height: 30px;
}

.nav-text {
  font-size: 24px;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    justify-content: flex-start;
  }

  .nav-text {
    font-size: 24px;
    display: none;
  }
}
