@import '_colors';

.technologies {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 50px 0 0 75px; 
}

.tech {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  //margin: 30px 40px 0 0;
  height: 300px;
  width: 200px;
  padding: 0 15px 20px 5px;
}

.tech::before {
  position: absolute;
  content: "";
  border: 1px solid $green;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  top: -10px;
  left: -10px;
}

.tech-logo {
  height: 100px;
}

.tech-name, 
.tech-release,
.tech-info {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.tech-name {
  font-size: 16px;
}

.tech-release {
  font-size: 14px;
}

.tech-info {
  font-size: 14px;
}
