.title {
  position: relative;
  font-size: 24px;
  padding: 40px 0 40px 60px;
  justify-content: left;
  margin-bottom: 40px;
}

.title::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  background: url(assets/triangle.svg);
  background-repeat: no-repeat;
  height: 90px;
  width: 70px;
  z-index: -1;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1024px) {
  .title {
    align-self: center;
    margin-bottom: 20px;
  }
}
