.title {
  position: relative;
  font-size: 24px;
  padding: 0 0 0 60px;
  margin: 80px 0 0 0;
  z-index: 1;
}

.title::before {
  position: absolute;
  content: "";
  top: -40px;
  left: 10px;
  background: url(assets/triangle.svg);
  background-repeat: no-repeat;
  height: 90px;
  width: 100px;
  z-index: -1;
}
