
$alto: #D8D8D8;
$atlantis: #A5CD39;
$cerulean: #00ADEE;
$dusty-gray: #999;
$manatee: #9898A6;
$translucent-white: rgba(255, 255, 255, 0.9);
$tundora: #4A4A4A;
$diffuse-tundora: rgba($tundora, 0.2);
$white: #FFF;
$wild-sand: #F4F4F4;

.atlantis { color: $atlantis; }
.manatee { color: $manatee; }
.tundora { color: $tundora; }
